.rb-sidebar-wrapper{
    height: 100%;
    width:50px;
    background: linear-gradient(180deg,#f3f4f9 0,#d7dbe8);
    transition: margin-left 0.25s, width 0.25s;
    position: fixed;
    top: 0;
}

main{
    margin-top:50px;
    margin-left: 50px;
    transition: margin-left 0.25s;
}

.rb-sidebar-expanded{
    width: 250px;
}

.rb-sidebar-collapsed ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
}

.rb-sidebar-collapsed ul li{
    padding: 1rem;
    border-bottom: 1px solid rgba(207,211,224,.6);
}

.rb-sidebar-expanded ul{
    user-select: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.rb-sidebar-hidden{
    display: none !important;
}

.rb-sidebar-active {
    color:#0388e5 !important;
    font-weight: bolder !important;
}

.rb-sidebar-overlay {
    position: fixed;
    top: 50px;
    z-index: 1000;
}

.rb-sidebar-mask{
    display:none;
    top: 50px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 998;
    background-color: #424242;
    opacity: .7;
}

.rb-sidebar-content-expanded.rb-sidebar-content-overlay{
    margin-left: 0;
}

.rb-sidebar-content-collapsed,.rb-sidebar-content-expanded{
    display: flex;
    flex-direction: column;
}

.rb-sidebar-content-collapsed.rb-sidebar-content-overlay{
    margin-top: 50px;
}

.rb-sidebar-content-static{
    margin-top: 50px;
}

.rb-sidebar-child:hover{
    color: unset !important;
    cursor: initial !important;
}

.rb-no-border{
    border:none !important;
}

.rb-sidebar-collapsed .rb-no-border{
    padding: .75rem 0;
}

.rb-sidebar-expanded ul li{
    user-select: none;
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid rgba(207,211,224,.6);
}

.rb-sidebar-expanded ul li span{
    padding-left: 0.5rem;
    width:100%;
}

.rb-sidebar-expanded ul li span a{
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.rb-sidebar-wrapper ul {
    list-style: none;
}

.rb-sidebar-expanded ul li span img{
    position: absolute;
    right: 1.5rem;
    height: 21px;
    width: 17.5px;
}

.rb-sidebar-content-expanded{
    margin-left:250px;
}


@media only screen and (min-width: 1024px) {
    .rb-sidebar-expanded ul li:hover, .rb-sidebar-collapsed ul li:hover{
        color:#0388e5;
        cursor: pointer;
    }
}

/*1024px width or less*/
@media only screen and (max-width: 1024px) {
    .rb-sidebar-wrapper{
        z-index: 1000;
        top: 50px;
    }
    .rb-sidebar-wrapper.rb-sidebar-collapsed {
        margin-left: -50px;
    }
    .rb-sidebar-content-expanded{
        margin-left: 0;

    }
    .rb-sidebar-mask.rb-sidebar-mask-visible{
        display: block;
    }
    main {
        margin-left: 0px;
    }
}
